h2 {
    color: orange;
}

h5 {
    color: orange;
}

.card-header {
    background-color: #073642;
}

.rc-slider-track {
  background-color: #008080;
}

.rc-slider-vertical .rc-slider-mark {
    top: -65px;
    left: 18px;
    height: 100%;
    width: 150px;
}

.rc-slider-mark-text {
    font-size : 14px;
    color: #2AA198;
}


.rc-slider-rail {
  background-color: #008080;
}

.rc-slider-dot-active {  
  border-color: #00FF00;
}

.rc-slider-handle {
  background-color: #C0C0C0;
  border-color: #C0C0C0;
}

.rc.slider-handle:hover {
  border-color: blue;
}

.rc.slider-handle-active:active {
  border-color: red;
}

g:hover {
    background-color: "green";
}

tr:hover {
    color: green;
    border-color: green;
}

.col-md-1 {
    padding-left: 0px;
    padding-right: 15px;
}

.menucard {
    border-top: 15px solid #303030;
}

.menucard:hover {
    background-color: #3d7f7f;
}

.menuicon-inactive {
    height: 50px; 
    width: 50px; 
    background-color: #bbb; 
    border-radius: 20%;
    padding-left: 5px;
    align-items: center;
    display: grid;
    margin: 0 auto;
}

.menuicon-active {
    height: 50px; 
    width: 50px; 
    background-color: #00FF00; 
    border-radius: 20%;
    padding-left: 5px;
    align-items: center;
    display: grid;
    margin: 0 auto;
}

.btn-link {
    font-weight: 400;
    color: orange;
    text-decoration: none;
}